/* ONLY MOBILE */
@media (max-width: 540px) {
    .main-header {
        min-height: 70px;
    }

    /* .hamburger {
        display: block;
    } */

    .gallery-container img {
        width: 180px;
    }

}

@media (max-width: 680px) {

}

@media (max-width: 750px) {
    .btn{
        font-size:10px;
    }
}