/* ONLY MOBILE */
@media (max-width: 540px) {
    .main-header {
        min-height: 70px;
    }

    .gallery-container img {
        width: 180px;
    }
}

@media(min-width: 540px) {

    .btn-toggle-menu {
        display: none;

    }
}

@media(max-width: 750px) {
    .editor {
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }

}