* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0;
    padding-bottom: 55px;
}

canvas {
    border: 1px solid var(--colorBrown);
}

.btn {
    display: inline-block;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: var(--colorBrown);
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;

    :hover {
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }
}

.editor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}

.fa-square-facebook{
    font-size: 30px;
    color:var(--colorBrown);
}

.about img{
    width: 70%;
}