.main-header {
    top: 0;
    background-color: var(--colorBase);
    color: var(--colorDefaultText);
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filterForm {
    text-align: start;
    background-color: var(--colorDefaultText);
}

.main-header .main-nav a {
    min-height: 50px;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -5px 0 var(--colorNavBarButton);
}

.main-header .main-nav li:last-of-type {
    border-inline-start: 1px solid RGBA(138, 138, 138, 1);
}


.main-header .btn-toggle-menu {
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.main-header .btn-toggle-menu .hamburger-lines {
    height: 26px;
    width: 32px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.main-header .btn-toggle-menu .hamburger-lines .line {
    height: 4px;
    width: 100%;
    background-color: var(--colorNavBarButton);
    transition: 0.4s;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line1 {
    rotate: -45deg;
    transform-origin: top right;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line2 {
    scale: 0;
}

body.menu-open .btn-toggle-menu .hamburger-lines .line.line3 {
    rotate: 45deg;
    transform-origin: bottom right;
}