:root{
    --colorDefaultText: #ffffff;
    --colorDefaultStroke: #000000;
    --colorBase:rgba(255, 127, 0, 1);
    --colorNavBarButton: #040A2C;
    --colorOrange:rgba(255, 127, 0, 1);
    --colorBrown:rgb(98, 0, 0); 
}